In [2]:
import pandas as pd

In [3]:
city = pd.read_csv('~/Downloads/tenx_week_three/Data/youtube-data/Cities/Totals.csv')

In [4]:
city.head()

         Date  Views
0  2020-06-28      1
1  2020-06-29     72
2  2020-06-30     76
3  2020-07-01     70
4  2020-07-02     57